@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

.font-rubik {
  font-family:  "Rubik", sans-serif;
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes zoomIn {
  0% { opacity: 0; transform: scale(0.85); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-slideUp {
  animation: slideUp 0.7s ease-out forwards;
}

.animate-zoomIn {
  animation: zoomIn 0.9s ease-out forwards;
}

.delay-200 { animation-delay: 0.2s; }
.delay-300 { animation-delay: 0.3s; }
.delay-500 { animation-delay: 0.5s; }


:root {

  --color-primary: #0e8b6c;
  --color-primary-hover: #12ba90; 
  
  --color-secondary: #45edc3;
  
  --color-bg-page: white;
  --color-bg-card: #e8fdf7;
  --color-border: #095d48;

  --color-text-main: #032019;
  --color-text-subtle: #052e24; 

}



